<body>
    <!-- Main navbar -->
    <div class="navbar navbar-default header-highlight">
        <app-layout-shared-navbar></app-layout-shared-navbar>
    </div>

    <!-- /main navbar -->

    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main sidebar -->
            <div class="sidebar sidebar-main">
                <app-layout-shared-sidebar></app-layout-shared-sidebar>
            </div>

            <!-- /main sidebar -->

            <router-outlet></router-outlet>

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->
</body>